@model TravelPalette.BL.Models.UserList

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>
        @Html.DisplayFor(model => model.ListName)
    </h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListId)
        </dd>
    </dl>
</div>
<div id="logout">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
