body, html {
    height: 100%;
    margin: 0;
    font-size: 1em;
    min-width: 40em;
}

header {
    background-color: #666;
    color: #fff;
    text-align: center;
    size: 1em;
    width: 100%;
}

main {
    min-height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999;
}

footer {
    background-color: #666;
    color: #fff;
    padding: 1rem 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
    text-align: left;
    padding-left: 20px;
}

.login, .nav {
    border: 1px solid black;
    width: 100%;
}

.login {
    background-color: #888;
    min-height: 12vh;
}

.nav {
    background-color: #777;
    height: 6rem;
    align-items: center; 
    justify-content: center;
}

nav ul {
    padding-left: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

nav ul li {
    flex-grow: 1;
    display: flex;

}

nav ul li a {
    text-decoration: none;
    font-size: 1.5rem; 
    color: black;
}

nav ul li:nth-child(3) a {
    font-size: 3rem;
}

#logo {
    margin: .5rem;
    float: left;
    border: 1px solid black;
    width: 5em;
    height: 2em;
}

#username, #login {
    padding: 1rem;
    font-size: 1rem;
    font: weight 200px;;
    float: right;
}

.search-container {
    width: 80%;
    text-align: center;
    background-color: grey;
    padding-top: 10px;
}

.search-box {
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
}

.search-box input {
    padding: 10px;
    width: 65%;
    border: 1px solid #ccc;
}

.search-box button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.login-container {
    max-width: 25em;
    min-width: 40vw;
    text-align: center;
}

.login-form {
    background-color: #777;
    padding: 20px;
}

.login-form input {
    width: 100%;
    margin-bottom: 20px;
}

.buttons {
    margin-top: 10px;
}

.buttons button {
    padding: .5rem 1rem;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.listonly {
    height: 70%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #999;
}

.container-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-height: 70%;
    overflow-y: auto; /* Scrolling */
}

.container {
    width: calc(50% - 20px);
    min-height: 16em;
    background-color: #ccc;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.mapandlist {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
}

.map-container {
    width: 60vw;
    height: 80vh;
    background-color: #222;
}
